
.centered-col
{
    float: none;
    margin: 0 auto;
}

.cont
{
    min-height: 10%;
    text-align: left;
    font-family: Georgia;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    overflow: hidden;
}

hr.style1
{
	border-top: 2px solid #8c8b8b;
    margin-left: 2%;
    margin-right: 2%;
}

.image
{
    display: block; 
    height: auto;
}

.purple
{
    background-color: #A968DE;
}

.orange
{
    background-color: #FFBD59;
}

.welcomeText
{
    color: black;
    font-size: 24px;
    margin-right: 5%;
    margin-left: 5%;
    display: table-cell;
  vertical-align: middle;
    
}

.centered-text
{
    min-height: 30%;
    background-color: #f6f6f6;
    padding-top: 5%;
 
}

.thumbnail
{
    color:#A968DE;
    margin-top: 10%;
    text-align: left;
    margin-left: 5%;
}

.etykiet
{
    color:#A968DE;
    margin-top: 10%;
    text-align: center;
    margin-left: 5%;
}

.list
{
    margin-top: 3%;
    color: black;
    font-size: 24px;
    margin-right: 5%;
    text-align: left;
}

.words
{
    color: black;
    font-size: 24px;
    margin-right: 5%;
    margin-left: 5%;
}

.smaller-words
{
    color: black;
    font-size: 17px;
    margin-right: 5%;
    margin-left: 5%;
}

.item1
{
    margin-top: 20%;
}

.item2
{
    margin-top: 20%;
}

.item3
{
    margin-top: 4%;
}

.tytul
{
    color:#FFBD59;
    padding-top: 6%;
    text-align: center;
    font-size: 49px;
}




.test1
{
    background-color: white;
   
}

.test2
{
    background-color: #A968DE;
    margin-top: 30%;
    color: white;
    font-size: 24px;
    margin-right: 5%;
    margin-left: 5%;
}

.arrow
{
    position: relative;
}

.mobileArrow
{
    max-height: 200px;
    max-width: 100px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10%;
    overflow: hidden;
}

.words1234
{
        color: black;
        font-size: 34px;
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
    
}

.thumbnail1234
{   
    color:cyan;
}

.road
{
    width: 100%;
    max-height: 70px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.roadPng
{
    max-height: 70px;
    position: relative;
}

.orange-letters
{
    color: #FFBD59;
}

.purple-letters
{
    color: #A968DE;
}

.mobileHide { display: inline; }
@media only screen
  and (min-device-width : 100px)
  and (max-device-width : 992px){
   .mobileHide { display: none;}
}

.mobileShow {display: none;}

  @media only screen
    and (min-device-width : 100px)
    and (max-device-width : 992px){ 
      .mobileShow {display: inline;}
  }

.mobileWords {font-size: 24px;}

  @media only screen
    and (min-device-width : 100px)
    and (max-device-width : 992px){ 
      .mobileWords {font-size: 16px;}
  }

.mobileThumbnail {font-size: 34px;}

  @media only screen
    and (min-device-width : 100px)
    and (max-device-width : 992px){ 
      .mobileThumbnail {font-size: 24px;}
}

.mobileEtykiet {font-size: 34px;}

  @media only screen
    and (min-device-width : 100px)
    and (max-device-width : 992px){ 
      .mobileEtykiet {font-size: 24px;}
}

.bumper{padding-bottom: 150px;}

  @media only screen
    and (min-device-width : 100px)
    and (max-device-width : 992px){ 
      .bumper {padding-bottom: 50px;}
}

.numList
{
    color: black;
}

.points
{
    margin-top: 5%;
}

.line
{
    min-height: 300px;
    display: table;
    padding-top: 2%;
}