.centered-col
{
    float: none;
    margin: 0 auto;
}

.cont
{
    min-height: 30%;
    text-align: justify;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.text-header
{
    color: #8f98e2;
    text-align: center;
    width: 20%;
    background:white;
    margin: -40px auto;
}

hr.style1
{
	border-top: 2px solid #8c8b8b;
    margin-left: 2%;
    margin-right: 2%;
}

.image
{
    display: block; 
    height: auto;
}

.kafel
{
    background-color: #A968DE;
}

.kafelek
{
    background-color: #FFBD59;
}

.kafeleczek
{
    background-color: #8AE0E3;
    
}

.welcomeText
{
    margin-top: 30%;
    color: white;
    font-size: 24px;
    margin-right: 5%;
    margin-left: 5%;
}

.centered-text
{
    margin-top: 10%;
}

.thumbnail
{
    color:#A968DE;
    margin-top: 10%;
    text-align: center;
}

.etykiet
{
    color:#FFBD59;
    margin-left: 5%;
}

.list
{
    margin-top: 3%;
    color: white;
    font-size: 24px;
    margin-right: 5%;
    text-align: justify;
}

.words
{
    color: white;
    font-size: 24px;
    margin-right: 5%;
    margin-left: 5%;
}

.smaller-words
{
    color: white;
    font-size: 17px;
    margin-right: 5%;
    margin-left: 5%;
}

.item1
{
    margin-top: 20%;
}

.item2
{
    margin-top: 20%;
}

.item3
{
    margin-top: 4%;
}

.tytul
{
    color:#FFBD59;
    padding-top: 6%;
    text-align: center;
}






.test1
{
    background-color: white;
   
}

.test2
{
    background-color: #A968DE;
    margin-top: 30%;
    color: white;
    font-size: 24px;
    margin-right: 5%;
    margin-left: 5%;
}

.arrow
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.words1234
{
        color: white;
        font-size: 34px;
        margin-right: 5%;
        margin-left: 5%;
        text-align: center;
    
}

.thumbnail1234
{   
    color:cyan;
}

.road
{
    width: 100%;
    max-height: 70px;
    margin: 0;
    padding: 0;
}

.arr
{
    width: 100%;
    max-height: 70px;
}

.orange
{
    color: #FFBD59;
}